.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore 'out' directories in all submodules
*/build/
docker/data
docker/kafka_data1
docker/kafka_data2
docker/kafka_data3

### IntelliJ IDEA ###
.idea

# Environment variables
docker/.env

